{{ partial "head.html" . -}}

<!-- Set page title -->
{{ if not (isset .Params "display_title") }}
<h1 style="font-weight: normal; text-align: left;">{{ .Title }}</h1>
{{ end }}

<table style="width:100%">
		<tr>
				<th>Name</th>
				<th>Tags</th>
				<th>Summary</th>
		</tr>
		{{ range .Pages }}
		<tr>
				<td style="text-align:left"><a href="{{ .Permalink }}">{{ .Title }}</a></td>
				<td>{{ .Params.tags }}</td>
				<td>{{ .Params.description }}</td>
		</tr>
		{{ end }}
</table>

</body>
</html>
