{{ partial "head.html" . -}}

<!-- Set page title -->
{{ if not (isset .Params "display_title") }}
<h1 style="font-weight: normal; text-align: left;">{{ .Title }}</h1>
{{ end }}

<!-- Set header image for the post -->
{{ if (isset .Params "image") }}
<img src='/images/headers/{{ $.Param "image" }}.png' style='float: center; padding: 0%; width: {{ if (isset .Params "imagesize") }}{{ $.Param "imagesize" }}{{ else }}100{{ end }}%' />
<br/>
{{ end }}

<!-- All the post content -->
<div class="paragraph">
{{ .Content -}}
</div></center>

</body>
</html>
