/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

@font-face {
    font-family: 'Roboto', serif;
	src: url('/fonts/roboto_serif.woff2') format('woff2');
}
@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('/fonts/roboto_thin.woff2') format('woff2'); 
}
@font-face {
	font-family: 'Source Code Pro', monospace;
	src: url('/fonts/monospace.woff2') format('woff2'); 
}


/* General HTML Elements */
body {
	color: #000;
	background-color: #fff;
	padding: 0% 5% 0% 5%;
}
a {
	color: #b31b1b;
	text-decoration: none;
}
a:hover, a:focus {
	color: #ff0000;
	border-color: transparent;
}
h1 {
	font-family: 'Roboto', serif;
	font-size: 200%;
}
h2 {
	font-family: 'Roboto', serif;
	font-size: 140%;
	font-weight:normal;
	color: #b31b1b;
	padding: 0% 0% 0% 0%;
}
pre {
    background: #fff;
    color: #000;
    padding: 2% 2% 2% 2%;
    border: 2px solid #0000ff;
    border-radius: 1em;
    font-family: 'Source Code Pro', monospace;
    font-size: 120%;

}
.index {
		background: #fff;
		color: #000;
		font-family: 'Source Code Pro', monospace;
        font-size: 90%;
		border: 0px;
		padding: 0%;
}
img {
	padding: 1% 0% 1% 0%;
}
/* Image resizes */
img[alt=MyPicture] { 
    width: 400px;
	float: center;
}
img[alt=fifty] { 
    max-width: 50%;
}
img[alt=hundred] { 
    max-width: 100%;
}
img[alt=seventyfive] { 
    max-width: 75%;
}
img[alt=thirty] { 
    max-width: 30%;
}
img[alt=phone] { 
    max-width: 23%;
}



table, th, td {
	border: 2px solid #000;
	border-collapse: collapse;
}
th {
	background-color: #000;
	color: #fff;
	font-family: 'Roboto', serif;
	font-size: 130%;
}
td {
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 110%;
	padding: 1% 1% 1% 1%;
}
strong {
	text-decoration: none;
	color: #b31b1b;
	font-weight: normal;
}
blockquote {
	position: relative;
	padding-left: 2%;
	border-left: 2px solid #00bc00;
}

/* Masthead */
.masthead {
    font-family: 'Cinzel', serif;
	font-size: 400%;
}
.masthead a {
	color: #b31b1b;
	text-decoration: none;
}
.masthead a:hover, a:focus {
	color: #f00;
	border-color: transparent;
}

hr {
    border-top: 3px solid;
}

/* Menubar */
.menubar {
	font-family: 'Roboto', serif;
	font-size: 160%;
	width: 100%;
}
.menubar a {
	color: #b31b1b;
	text-decoration: none;
}
.menubar a:hover, a:focus {
	color: #ff0000;
	border-color: transparent;
}

.paragraph {
    font-family: 'Roboto', sans-serif;
	font-size: 130%;
	text-align: left;
	width: 100%;
	padding: 0% 0% 0% 0%;
}

.button-container {
	padding: 2% 0% 2% 0%;
	display: inline-block;
}
.buttonx {
	border-radius: 1em;
	margin: 0%;
	background-color: transparent;
	border: 2px solid #ff00ff;
	font-size: 100%;
	font-family: "MenuFont";
	color: #000;
	text-align: center;
	padding: 5%;
	cursor: pointer;
	width: 10em;
}
.videowrapper {
	position: relative;
	float: center;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
