<!DOCTYPE html>
<html>
	<head>
    	<link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico"/>
    	<link rel="stylesheet" href="{{ .Site.BaseURL }}style.css"/>
		<title>{{ .Title | title }}</title>
	</head>
	<body>
        <center>
            <div class="masthead"><a href="/">Rahul Devendra Doshi</a></div>
            <hr/>
            <div class="menubar">
                <a href="/finance"  rel="noopener noreferrer">Finance</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/aboutme"  rel="noopener noreferrer">About Me</a>
            </div>
            <hr/>
