{{ partial "head.html" . -}}
<pre class="index" style="text-align: left;">
                                                                        |*~=-.,
                                                                        |_,-'`
                                                                        |                ██╗  ██╗ ██████╗ ██╗  ██╗
                                                                        |                ██║  ██║██╔═████╗██║  ██║
                                                                       /^\               ███████║██║██╔██║███████║
                                         _                            /   \              ╚════██║████╔╝██║╚════██║
                                        |*`~-.,                      /,    \                  ██║╚██████╔╝     ██║
                                        |.-~^`                      /#"     \                 ╚═╝ ╚═════╝      ╚═╝
                                        |                         _/##_   _  \_
                                   _   _|  _   _   _             [ ]_[ ]_[ ]_[ ] 
                                  [ ]_[ ]_[ ]_[ ]_[ ]             |_=_-=_ - =_|          ███╗   ██╗ ██████╗ ████████╗    ███████╗ ██████╗ ██╗   ██╗███╗   ██╗██████╗
                                 !_ |_=_ =-_-_  = =_|           !_ |=_= -    |           ████╗  ██║██╔═══██╗╚══██╔══╝    ██╔════╝██╔═══██╗██║   ██║████╗  ██║██╔══██
                                 |*`--,_- _        |            |*`~-.,= []  |           ██╔██╗ ██║██║   ██║   ██║       █████╗  ██║   ██║██║   ██║██╔██╗ ██║██║  ██║
                                 |.-'|=     []     |   !_       |_.-"`_-     |           ██║╚██╗██║██║   ██║   ██║       ██╔══╝  ██║   ██║██║   ██║██║╚██╗██║██║  ██║
                                 |   |_=- -        |   |*`~-.,  |  |=_-      |           ██║ ╚████║╚██████╔╝   ██║       ██║     ╚██████╔╝╚██████╔╝██║ ╚████║██████╔╝
                                /^\  |=_= -        |   |_,-~`  /^\ |_ - =[]  |           ╚═╝  ╚═══╝ ╚═════╝    ╚═╝       ╚═╝      ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝╚═════╝
                            _  /   \_|_=- _   _   _|  _|  _   /   \|=_-      |
                           [ ]/,    \[ ]_[ ]_[ ]_[ ]_[ ]_[ ]_/,    \[ ]=-    |
                            |/#"     \_=-___=__=__- =-_ -=_ /#"     \| _ []  |
                           _/##_   _  \_-_ =  _____       _/##_   _  \_ -    |\
                          [ ]_[ ]_[ ]_[ ]=_0~{_ _ _}~0   [ ]_[ ]_[ ]_[ ]=-   | \                                                              
                          |_=__-_=-_  =_|-=_ |  ,  |     |_=-___-_ =-__|_    |  \                                                            A       |
                          | _- =-     |-_    | ((* |     |= _=         | -   |___\                                                          =|=     .-.
                          |= -_=      |=  _  |_____|     |_-=_         |=_   |/+\|                                                           |    __|=|__
                          |-_=- _     |=_   =            |=_= -_       |  =  ||+||  <--- WEBSITE                                             |_  (_/`-`\_)
                          |=_- /+\    | -=               |_=- /+\      |=_   |^^^|                                                           | \ //\___/\\
                          |=_ |+|+|   |= -  -_,--,_      |_= |+|+|     |  -_ |=  |                                                           |   <>/   \<>
                          |  -|+|+|   |-_=  / |  | \     |=_ |+|+|     |-=_  |_-/                                                            |     |_._|/     
                          |=_=|+|+|   | =_= | |  | |     |_- |+|+|     |_ =  |=/                                                   YOU --->  |     <_I_>
                          | _ ^^^^^   |= -  | |  <&>     |=_=^^^^^     |_=-  |/                                                              |      |||
                          |=_ =       | =_-_| |  | |     |   =_        | -_  |                                                               |     /_|_\
                 ^^^^^^^^^^`^`^^`^`^`^^^""""""""^`^^``^^`^^`^^`^`^``^`^``^``^^^^^^^^^^^^`^`^^`^`^`^^^""^^^^^^^^^^`^`^^`^`^`^^^""^^^^^^^^^^`^`^^`^`^`^^^""^^^^^^^
		</pre>
</body>
</html>
